@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.box
{
  height: 250px;
}

body
{
  margin: 0;
  padding: 0;
}

.my-grid
{
  display: grid;
  margin-top: 85px;
  grid-template: repeat(3, auto) / repeat(3, 1fr);
  grid-gap: 50px;
}

.login_header
{
  grid-column: 2 / 3;
  text-align: center;
  padding-top: 70px;
}

.login_form
{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: #EDF1FF;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

@media(max-width: 500px)
{
  .my-grid
  {
    display: grid;
    margin-top: 85px;
    grid-template: repeat(3, auto) / 400px;
    grid-gap: 50px;
  }

  .login_header
  {
    grid-column: 1 / -1;
  }

  .login_form
  {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}


form
{
  padding: 0 40px;
  box-sizing: border-box;
  line-height: 40px;
}


input[type="text"], input[type="password"], input[type="email"]
{
  width: 400px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover
{
  border-color: #2691d9;
  transition: .5s;
}

input[type="submit"]
{
  width: 400px;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover
{
  border-color: #2691d9;
  transition: .5s;
}
