@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
*
{
  font-family: 'Playfair Display', serif;
}

body
{
  margin: 0;
  background-image: url('../image/icon/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1
{
  color: #F0EAD6;
}

p
{
  color: #F3E0BE;
}

.mother
{
  display: grid;
  grid-template: 1fr / 1fr;
  margin-top: 85px;
  width: 100%;
  grid-row-gap: 120px;
}

.progress-bar
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 5px;
	width: 0%;
	background: #0080ff;
	border-radius: 3px;
	z-index: 1;
}

.navbar
{
  z-index: 2;
}

.nav-height
{
  height: 85px;
  font-size: 18px;
  z-index: 0;
}

.nav-hov:hover
{
  background: #036bfc;
  border-radius: 10px;
}

.welcome-text
{
  grid-row: 2 / 3;
  font-size: 70px;
  padding-top: 130px;
  text-align: center;
  font-weight: 700;
  background: #292F33;
  color: #F0EAD6;
  height: 500px;
}

.quote
{
  background: #EDF1FF;
  grid-row: 3 / 4;
  font-size: 20px;
  text-align: center;
  height: 300px;
  padding-top: 100px;
}

.current_event
{
  grid-row: 4 / 5;
  text-align: center;
}

.current_event_grid
{
  display: grid;
  grid-template: 1fr / repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.images
{
  width: 300px;
  height: 350px;
}
.images:hover
{
  box-shadow: 6px 6px 12px;
}

.upcoming_event
{
  grid-row: 5 / 6;
  text-align: center;
}

.upcoming_event_grid
{
  display: grid;
  grid-template: 1fr / repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}


.foot
{
  grid-row: 6 / 7;
  background: #001a33;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 70px;
}

.footlink
{
  text-decoration: none;
  color: white;
}

@media(max-width: 990px)
{
  .nav-height
  {
    height: auto;
    font-size: 18px;
  }

  .mother
  {
    margin-top: 56px;
  }
}

@media(max-width: 500px)
{
  .welcome-text
  {
    font-size: 25px;
  }

  .quote
  {
    font-size: 18px;
  }

  .foot
  {
    font-size: 18px;
  }
}
